In [16]:
import numpy as np
import pandas as pd

ƒê·ªçc d·ªØ li·ªáu c·ªßa t·ªáp tin CSV v√† in ra th√¥ng tin c∆° b·∫£n v·ªÅ DataFrame

In [17]:
df = pd.read_csv('Crawl_Datailovelotteria.csv')
Clean_data_df = pd.read_csv('Crawl_Datailovelotteria.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 940 entries, 0 to 939
Data columns (total 51 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   post_id                        940 non-null    int64
 1   text                           894 non-null    object
 2   post_text                      894 non-null    object
 3   shared_text                    7 non-null      object
 4   original_text                  0 non-null      float64
 5   time                           940 non-null    object
 6   timestamp                      930 non-null    float64
 7   image                          820 non-null    object
 8   image_lowquality               940 non-null    object
 9   images                         908 non-null    object
 10  images_description             908 non-null    object
 11  images_lowquality              940 non-null    object
 12  images_lowquality_description  940 non-null    object
 13  video                          79 non-null     object
 14  video_duration_seconds         0 non-null      float64
 15  video_height                   0 non-null      float64
 16  video_id                       79 non-null     float64
 17  video_quality                  0 non-null      float64
 18  video_size_MB                  0 non-null      float64
 19  video_thumbnail                79 non-null     object
 20  video_watches                  0 non-null      float64
 21  video_width                    0 non-null      float64
 22  likes                          808 non-null    float64
 23  comments                       940 non-null    int64
 24  shares                         940 non-null    int64
 25  post_url                       940 non-null    object
 26  link                           328 non-null    object
 27  links                          913 non-null    object
 28  user_id                        940 non-null    int64
 29  username                       940 non-null    object
 30  user_url                       940 non-null    object
 31  is_live                        940 non-null    bool
 32  factcheck                      0 non-null      float64
 33  shared_post_id                 1 non-null      float64
 34  shared_time                    1 non-null      object
 35  shared_user_id                 1 non-null      float64
 36  shared_username                1 non-null      object
 37  shared_post_url                1 non-null      object
 38  available                      940 non-null    bool
 39  comments_full                  940 non-null    object
 40  reactors                       132 non-null    object
 41  w3_fb_url                      132 non-null    object
 42  reactions                      132 non-null    object
 43  reaction_count                 940 non-null    int64
 44  with                           28 non-null     object
 45  page_id                        940 non-null    int64
 46  sharers                        0 non-null      float64
 47  image_id                       753 non-null    float64
 48  image_ids                      940 non-null    object
 49  was_live                       940 non-null    bool
 50  fetched_time                   132 non-null    object
dtypes: bool(3), float64(15), int64(6), object(27)
memory usage: 355.4+ KB

In [18]:
# Lo·∫°i b·ªè c√°c h√†ng tr√πng l·∫∑p trong DataFrame
Clean_data_df = Clean_data_df.drop_duplicates()
# Lo·∫°i b·ªè c√°c c·ªôt tr√πng l·∫∑p sau khi chuy·ªÉn v·ªã DataFrame
Clean_data_df = Clean_data_df.T.drop_duplicates().T
# Lo·∫°i b·ªè c√°c c·ªôt c√≥ t·∫•t c·∫£ gi√° tr·ªã l√† NaN (kh√¥ng c√≥ gi√° tr·ªã n√†o kh√°c NaN)
Clean_data_df = Clean_data_df.dropna(axis=1, how='all')
Clean_data_df.info()
# ƒê∆∞a ra file clean_data
Clean_data_df.to_csv('clean_data.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 940 entries, 0 to 939
Data columns (total 41 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   post_id                        940 non-null    object
 1   text                           894 non-null    object
 2   post_text                      894 non-null    object
 3   shared_text                    7 non-null      object
 4   time                           940 non-null    object
 5   timestamp                      930 non-null    object
 6   image                          820 non-null    object
 7   image_lowquality               940 non-null    object
 8   images                         908 non-null    object
 9   images_description             908 non-null    object
 10  images_lowquality              940 non-null    object
 11  images_lowquality_description  940 non-null    object
 12  video                          79 non-null     object
 13  video_id                       79 non-null     object
 14  video_thumbnail                79 non-null     object
 15  likes                          808 non-null    object
 16  comments                       940 non-null    object
 17  shares                         940 non-null    object
 18  post_url                       940 non-null    object
 19  link                           328 non-null    object
 20  links                          913 non-null    object
 21  user_id                        940 non-null    object
 22  username                       940 non-null    object
 23  user_url                       940 non-null    object
 24  is_live                        940 non-null    object
 25  shared_post_id                 1 non-null      object
 26  shared_time                    1 non-null      object
 27  shared_user_id                 1 non-null      object
 28  shared_username                1 non-null      object
 29  shared_post_url                1 non-null      object
 30  available                      940 non-null    object
 31  comments_full                  940 non-null    object
 32  reactors                       132 non-null    object
 33  w3_fb_url                      132 non-null    object
 34  reactions                      132 non-null    object
 35  reaction_count                 940 non-null    object
 36  with                           28 non-null     object
 37  page_id                        940 non-null    object
 38  image_id                       753 non-null    object
 39  image_ids                      940 non-null    object
 40  fetched_time                   132 non-null    object
dtypes: object(41)
memory usage: 301.2+ KB

In ra reactions

In [19]:
unique_reactions = Clean_data_df['reactions'].unique()[:100]
unique_reactions

array(["{'th√≠ch': 33, 'y√™u th√≠ch': 9, 'haha': 2, 'wow': 2}",
       "{'th√≠ch': 179, 'y√™u th√≠ch': 76, 'wow': 1, 'th∆∞∆°ng th∆∞∆°ng': 9, 'bu·ªìn': 3}",
       "{'th√≠ch': 11, 'y√™u th√≠ch': 1, 'haha': 2, 'wow': 1}",
       "{'th√≠ch': 49, 'y√™u th√≠ch': 7, 'th∆∞∆°ng th∆∞∆°ng': 1}",
       "{'th√≠ch': 472, 'y√™u th√≠ch': 17, 'wow': 2, 'th∆∞∆°ng th∆∞∆°ng': 1, 'bu·ªìn': 1}",
       "{'th√≠ch': 485, 'y√™u th√≠ch': 39, 'th∆∞∆°ng th∆∞∆°ng': 3}",
       "{'th√≠ch': 30, 'y√™u th√≠ch': 6, 'th∆∞∆°ng th∆∞∆°ng': 1}",
       "{'th√≠ch': 89, 'y√™u th√≠ch': 4, 'ph·∫´n n·ªô': 1}",
       "{'th√≠ch': 455, 'y√™u th√≠ch': 14, 'haha': 3}",
       "{'th√≠ch': 222, 'y√™u th√≠ch': 5, 'bu·ªìn': 1}",
       "{'th√≠ch': 3826, 'y√™u th√≠ch': 8, 'wow': 2, 'bu·ªìn': 1}",
       "{'th√≠ch': 38, 'y√™u th√≠ch': 9, 'bu·ªìn': 1}",
       "{'th√≠ch': 423, 'y√™u th√≠ch': 28, 'wow': 1, 'th∆∞∆°ng th∆∞∆°ng': 1, 'ph·∫´n n·ªô': 1}",
       "{'th√≠ch': 423, 'y√™u th√≠ch': 10, 'wow': 1, 'th∆∞∆°ng th∆∞∆°ng': 2}",
       "{'th√≠ch': 137, 'y√™u th√≠ch': 13, 'wow': 2, 'th∆∞∆°ng th∆∞∆°ng': 1, 'bu·ªìn': 1}",
       "{'th√≠ch': 439, 'y√™u th√≠ch': 30, 'haha': 1, 'th∆∞∆°ng th∆∞∆°ng': 1, 'bu·ªìn': 1}",
       "{'th√≠ch': 496, 'y√™u th√≠ch': 51, 'haha': 2, 'wow': 5, 'th∆∞∆°ng th∆∞∆°ng': 1}",
       "{'th√≠ch': 27, 'y√™u th√≠ch': 4, 'haha': 1, 'th∆∞∆°ng th∆∞∆°ng': 1}",
       "{'th√≠ch': 194, 'y√™u th√≠ch': 11, 'haha': 1}",
       "{'th√≠ch': 409, 'y√™u th√≠ch': 24, 'haha': 1, 'th∆∞∆°ng th∆∞∆°ng': 1}",
       "{'th√≠ch': 407, 'y√™u th√≠ch': 17, 'wow': 1, 'bu·ªìn': 1}",
       "{'th√≠ch': 426, 'y√™u th√≠ch': 21}",
       "{'th√≠ch': 412, 'y√™u th√≠ch': 14, 'haha': 72, 'th∆∞∆°ng th∆∞∆°ng': 1, 'ph·∫´n n·ªô': 1}",
       "{'th√≠ch': 498, 'y√™u th√≠ch': 31, 'haha': 1, 'bu·ªìn': 1}",
       "{'th√≠ch': 16, 'y√™u th√≠ch': 2}",
       "{'th√≠ch': 30, 'y√™u th√≠ch': 5, 'th∆∞∆°ng th∆∞∆°ng': 1}",
       "{'th√≠ch': 469, 'y√™u th√≠ch': 19, 'haha': 1, 'bu·ªìn': 1}",
       "{'th√≠ch': 36, 'y√™u th√≠ch': 7, 'th∆∞∆°ng th∆∞∆°ng': 1}",
       "{'th√≠ch': 525, 'y√™u th√≠ch': 16, 'haha': 2, 'wow': 2}",
       "{'th√≠ch': 91, 'y√™u th√≠ch': 6, 'haha': 2, 'bu·ªìn': 2}",
       "{'th√≠ch': 74, 'y√™u th√≠ch': 8, 'th∆∞∆°ng th∆∞∆°ng': 3}",
       "{'th√≠ch': 100, 'y√™u th√≠ch': 11, 'th∆∞∆°ng th∆∞∆°ng': 2}",
       "{'th√≠ch': 542, 'y√™u th√≠ch': 38, 'haha': 1, 'th∆∞∆°ng th∆∞∆°ng': 1}",
       "{'th√≠ch': 397, 'y√™u th√≠ch': 11, 'haha': 3, 'th∆∞∆°ng th∆∞∆°ng': 1}",
       "{'th√≠ch': 397, 'y√™u th√≠ch': 15, 'haha': 1, 'wow': 1, 'th∆∞∆°ng th∆∞∆°ng': 1}",
       "{'th√≠ch': 444, 'y√™u th√≠ch': 26, 'th∆∞∆°ng th∆∞∆°ng': 2}",
       "{'th√≠ch': 78, 'y√™u th√≠ch': 17, 'th∆∞∆°ng th∆∞∆°ng': 2}",
       "{'th√≠ch': 40, 'y√™u th√≠ch': 3, 'th∆∞∆°ng th∆∞∆°ng': 2}",
       "{'th√≠ch': 561, 'y√™u th√≠ch': 40, 'haha': 3, 'wow': 1, 'th∆∞∆°ng th∆∞∆°ng': 1}",
       "{'th√≠ch': 146, 'y√™u th√≠ch': 6, 'th∆∞∆°ng th∆∞∆°ng': 1}",
       "{'th√≠ch': 460, 'y√™u th√≠ch': 31, 'haha': 1, 'th∆∞∆°ng th∆∞∆°ng': 1}",
       "{'th√≠ch': 2964, 'y√™u th√≠ch': 5}",
       "{'th√≠ch': 550, 'y√™u th√≠ch': 3, 'th∆∞∆°ng th∆∞∆°ng': 1}",
       "{'th√≠ch': 1208, 'y√™u th√≠ch': 24, 'haha': 2, 'th∆∞∆°ng th∆∞∆°ng': 2}",
       "{'th√≠ch': 1107, 'y√™u th√≠ch': 17, 'haha': 1, 'bu·ªìn': 1}",
       "{'th√≠ch': 806, 'y√™u th√≠ch': 5, 'haha': 143, 'wow': 1, 'th∆∞∆°ng th∆∞∆°ng': 2, 'bu·ªìn': 2}",
       "{'th√≠ch': 913, 'y√™u th√≠ch': 11, 'wow': 1, 'th∆∞∆°ng th∆∞∆°ng': 1}",
       "{'th√≠ch': 936, 'y√™u th√≠ch': 32, 'th∆∞∆°ng th∆∞∆°ng': 1}",
       "{'th√≠ch': 706, 'y√™u th√≠ch': 2, 'haha': 1}",
       "{'th√≠ch': 825, 'y√™u th√≠ch': 9, 'bu·ªìn': 6, 'ph·∫´n n·ªô': 1}",
       "{'th√≠ch': 1216, 'y√™u th√≠ch': 17, 'wow': 1, 'th∆∞∆°ng th∆∞∆°ng': 2}",
       "{'th√≠ch': 1200, 'y√™u th√≠ch': 10, 'wow': 1, 'th∆∞∆°ng th∆∞∆°ng': 1}",
       "{'th√≠ch': 1093, 'y√™u th√≠ch': 17, 'haha': 1, 'th∆∞∆°ng th∆∞∆°ng': 3}",
       "{'th√≠ch': 729, 'y√™u th√≠ch': 6, 'th∆∞∆°ng th∆∞∆°ng': 1}",
       "{'th√≠ch': 944, 'y√™u th√≠ch': 16, 'th∆∞∆°ng th∆∞∆°ng': 1, 'bu·ªìn': 1, 'ph·∫´n n·ªô': 1}",
       "{'th√≠ch': 946, 'y√™u th√≠ch': 23, 'wow': 1, 'th∆∞∆°ng th∆∞∆°ng': 1}",
       "{'th√≠ch': 667, 'y√™u th√≠ch': 9, 'wow': 2, 'th∆∞∆°ng th∆∞∆°ng': 1}",
       "{'th√≠ch': 932, 'y√™u th√≠ch': 22, 'wow': 1}",
       "{'th√≠ch': 737, 'y√™u th√≠ch': 2, 'haha': 1}",
       "{'th√≠ch': 29, 'y√™u th√≠ch': 3, 'th∆∞∆°ng th∆∞∆°ng': 1}",
       "{'th√≠ch': 3790, 'y√™u th√≠ch': 22, 'haha': 3, 'wow': 1, 'th∆∞∆°ng th∆∞∆°ng': 1, 'ph·∫´n n·ªô': 1}",
       "{'th√≠ch': 926, 'y√™u th√≠ch': 15, 'haha': 1, 'wow': 1, 'th∆∞∆°ng th∆∞∆°ng': 1}",
       "{'th√≠ch': 959, 'y√™u th√≠ch': 14, 'haha': 1, 'wow': 1, 'th∆∞∆°ng th∆∞∆°ng': 1}",
       "{'th√≠ch': 933, 'y√™u th√≠ch': 17, 'wow': 1, 'th∆∞∆°ng th∆∞∆°ng': 2}",
       "{'th√≠ch': 594, 'y√™u th√≠ch': 11, 'th∆∞∆°ng th∆∞∆°ng': 1}",
       "{'th√≠ch': 546, 'y√™u th√≠ch': 3, 'haha': 1, 'th∆∞∆°ng th∆∞∆°ng': 1}",
       "{'th√≠ch': 1016, 'y√™u th√≠ch': 15, 'haha': 1}",
       "{'th√≠ch': 990, 'y√™u th√≠ch': 16, 'haha': 1, 'ph·∫´n n·ªô': 1}",
       "{'th√≠ch': 870, 'y√™u th√≠ch': 28, 'th∆∞∆°ng th∆∞∆°ng': 2}",
       "{'th√≠ch': 984, 'y√™u th√≠ch': 7, 'th∆∞∆°ng th∆∞∆°ng': 1}",
       "{'th√≠ch': 567, 'y√™u th√≠ch': 8, 'th∆∞∆°ng th∆∞∆°ng': 2}",
       "{'th√≠ch': 51, 'y√™u th√≠ch': 2, 'th∆∞∆°ng th∆∞∆°ng': 1}",
       "{'th√≠ch': 913, 'y√™u th√≠ch': 8, 'haha': 54, 'th∆∞∆°ng th∆∞∆°ng': 2}",
       "{'th√≠ch': 726, 'y√™u th√≠ch': 3}",
       "{'th√≠ch': 534, 'y√™u th√≠ch': 4, 'th∆∞∆°ng th∆∞∆°ng': 1}",
       "{'th√≠ch': 715, 'y√™u th√≠ch': 1, 'wow': 1}",
       "{'th√≠ch': 171, 'y√™u th√≠ch': 9, 'th∆∞∆°ng th∆∞∆°ng': 1}",
       "{'th√≠ch': 923, 'y√™u th√≠ch': 13, 'wow': 2, 'th∆∞∆°ng th∆∞∆°ng': 3}",
       "{'th√≠ch': 984, 'y√™u th√≠ch': 12, 'th∆∞∆°ng th∆∞∆°ng': 1}",
       "{'th√≠ch': 755, 'y√™u th√≠ch': 7, 'haha': 1, 'th∆∞∆°ng th∆∞∆°ng': 1}",
       "{'th√≠ch': 1056, 'y√™u th√≠ch': 16, 'haha': 1, 'th∆∞∆°ng th∆∞∆°ng': 2}",
       "{'th√≠ch': 1135, 'y√™u th√≠ch': 28, 'wow': 1}",
       "{'th√≠ch': 2003, 'y√™u th√≠ch': 12, 'haha': 3}",
       "{'th√≠ch': 1465, 'y√™u th√≠ch': 23, 'haha': 1, 'wow': 3, 'th∆∞∆°ng th∆∞∆°ng': 2, 'bu·ªìn': 1}",
       "{'th√≠ch': 1119, 'y√™u th√≠ch': 34, 'th∆∞∆°ng th∆∞∆°ng': 1}",
       "{'th√≠ch': 947, 'y√™u th√≠ch': 8, 'th∆∞∆°ng th∆∞∆°ng': 1}",
       "{'th√≠ch': 873, 'y√™u th√≠ch': 2, 'th∆∞∆°ng th∆∞∆°ng': 1}",
       "{'th√≠ch': 1066, 'y√™u th√≠ch': 17, 'wow': 2, 'th∆∞∆°ng th∆∞∆°ng': 1}",
       "{'th√≠ch': 851, 'y√™u th√≠ch': 14, 'th∆∞∆°ng th∆∞∆°ng': 3}",
       "{'th√≠ch': 772, 'y√™u th√≠ch': 74, 'haha': 5, 'wow': 2, 'th∆∞∆°ng th∆∞∆°ng': 4, 'bu·ªìn': 2}",
       "{'th√≠ch': 695, 'y√™u th√≠ch': 17, 'haha': 1, 'th∆∞∆°ng th∆∞∆°ng': 2}",
       "{'th√≠ch': 761, 'y√™u th√≠ch': 10, 'wow': 2}",
       "{'th√≠ch': 666, 'y√™u th√≠ch': 20}",
       "{'th√≠ch': 806, 'y√™u th√≠ch': 30, 'wow': 1, 'th∆∞∆°ng th∆∞∆°ng': 1}",
       "{'th√≠ch': 856, 'y√™u th√≠ch': 48, 'haha': 1, 'wow': 1, 'th∆∞∆°ng th∆∞∆°ng': 2, 'ph·∫´n n·ªô': 1}",
       "{'th√≠ch': 716, 'y√™u th√≠ch': 8}",
       "{'th√≠ch': 702, 'y√™u th√≠ch': 11, 'th∆∞∆°ng th∆∞∆°ng': 1}",
       "{'th√≠ch': 695, 'y√™u th√≠ch': 89, 'haha': 4, 'wow': 1, 'th∆∞∆°ng th∆∞∆°ng': 2, 'bu·ªìn': 2, 'ph·∫´n n·ªô': 1}",
       "{'th√≠ch': 620, 'y√™u th√≠ch': 13, 'wow': 1, 'th∆∞∆°ng th∆∞∆°ng': 3}",
       "{'th√≠ch': 648, 'y√™u th√≠ch': 9, 'haha': 1, 'wow': 2, 'th∆∞∆°ng th∆∞∆°ng': 1, 'bu·ªìn': 3}"],
      dtype=object)

In ra post_id, reactions

In [20]:
df_reactions = df[['post_id', 'reactions']][:100]
df_reactions

            post_id                                          reactions
0   739295874894410  {'th√≠ch': 33, 'y√™u th√≠ch': 9, 'haha': 2, 'wow'...
1   738821911608473  {'th√≠ch': 179, 'y√™u th√≠ch': 76, 'wow': 1, 'th∆∞...
2   739177558239575  {'th√≠ch': 11, 'y√™u th√≠ch': 1, 'haha': 2, 'wow'...
3   737074941783170  {'th√≠ch': 49, 'y√™u th√≠ch': 7, 'th∆∞∆°ng th∆∞∆°ng': 1}
4   736899418467389  {'th√≠ch': 472, 'y√™u th√≠ch': 17, 'wow': 2, 'th∆∞...
..              ...                                                ...
95  699448075545857                     {'th√≠ch': 716, 'y√™u th√≠ch': 8}
96  700915848732413  {'th√≠ch': 702, 'y√™u th√≠ch': 11, 'th∆∞∆°ng th∆∞∆°ng...
97  700496968774301  {'th√≠ch': 695, 'y√™u th√≠ch': 89, 'haha': 4, 'wo...
98  699975425493122  {'th√≠ch': 620, 'y√™u th√≠ch': 13, 'wow': 1, 'th∆∞...
99  699954578828540  {'th√≠ch': 648, 'y√™u th√≠ch': 9, 'haha': 1, 'wow...

[100 rows x 2 columns]

In ra time, tamstamp

In [21]:
df_time = df[['time','timestamp','reaction_count']][:100]
print(df_time)

                   time     timestamp  reaction_count
0   2023-11-28 15:29:55  1.701160e+09              46
1   2023-11-27 18:11:42  1.701084e+09             268
2   2023-11-27 09:45:00  1.701053e+09              15
3   2023-11-24 17:12:20  1.700821e+09              57
4   2023-11-24 10:00:24  1.700795e+09             493
..                  ...           ...             ...
95  2023-09-22 15:00:35  1.695370e+09             724
96  2023-09-22 10:00:02  1.695352e+09             714
97  2023-09-21 15:00:03  1.695283e+09             794
98  2023-09-20 14:56:20  1.695197e+09             637
99  2023-09-20 14:00:01  1.695193e+09             664

[100 rows x 3 columns]

Thay th·∫ø n·ªôi dung hi·ªán [] b·∫±ng gi√° tr·ªã NaN

In [22]:
columns_NaN = ['images', 'images_description', 'comments_full', 'reactors']
Clean_data_df[columns_NaN] = Clean_data_df[columns_NaN].apply(lambda x: x.replace('[]', np.nan))
# ƒê∆∞a ra file clean
Clean_data_df.to_csv('clean_data.csv', index=False)

X√≥a c√°c c·ªôt kh√¥ng c·∫ßn thi·∫øt

In [23]:
# L·∫•y danh s√°ch c√°c c·ªôt b·∫°n mu·ªën x√≥a
columns_drop = ["image", "image_lowquality","images","video","video_id",
                "shared_text","timestamp", "shared_post_id", "shared_time",
                "shared_user_id", "shared_username", "shared_post_url", "with", "sharers"]
# Ki·ªÉm tra xem c√°c c·ªôt c√≥ t·ªìn t·∫°i trong DataFrame kh√¥ng
existing_columns = set(columns_drop).intersection(df.columns)
# X√≥a c√°c c·ªôt t·ªìn t·∫°i
Clean_data_df = df.drop(existing_columns, axis=1)

# Ti·ªÅn X·ª≠ L√Ω D·ªØ Li·ªáu:

T√°ch c·ªôt reactions v√† g·ªôp v·ªõi post_text, shares,comments, reactions_count

In [24]:
import ast

In [25]:
df['reactions'] = df['reactions'].apply(lambda x: dict(ast.literal_eval(x)) if isinstance(x, str) else {})
raw_df_reactions = df['reactions'].apply(pd.Series )

In [26]:
df_with_reactions = pd.concat([df, raw_df_reactions], axis=1).drop('reactions', axis=1)
print(df_with_reactions[['post_text','th√≠ch','y√™u th√≠ch','haha','wow','bu·ªìn','ph·∫´n n·ªô','th∆∞∆°ng th∆∞∆°ng',
                                 'shares','comments','reaction_count']])

                                             post_text  th√≠ch  y√™u th√≠ch  \
0    NGHE ƒê·ªíN RIA M·ªû QU√ÅN ‚ÄúC√Ä H√ä‚Äù üëÄ\n\nüòú Ai ƒë·ªìn m√† ...   33.0        9.0
1    C·∫£m ∆°n BAEMIN v√¨ h√†nh tr√¨nh tuy·ªát v·ªùi v·ª´a qua ...  179.0       76.0
2    S√°ng ch√≥i c√πng "G√† M√™ M·∫≠t" c·ªßa Lotteria üòçüòçüòç\n\...   11.0        1.0
3    üéâ CH√ÄO M·ª™NG S·ª∞ TR·ªû L·∫†I C·ª¶A LOTTERIA ƒê·ªíNG TH√ÅP ...   49.0        7.0
4    üî• SI√äU H·ªòI BLACK FRIDAY - ƒÇN G√Ä RIA NO ƒê·∫¶Y üî•\n...  472.0       17.0
..                                                 ...    ...        ...
935  MƒÇM G√Ä M·ªåI N∆†I, FREESHIP T·∫¨N C·ª¨A\nO tr√≤n nh∆∞ q...    NaN        NaN
936                                                NaN    NaN        NaN
937  L·∫°i s·∫Øp h·∫øt tu·∫ßn r·ªìi, c√πng Lotteria n·∫°p mana g...    NaN        NaN
938  Ti·∫øt ki·ªám l√™n ƒë·∫øn 42% nhanh tay ch·ªët deal ngay...    NaN        NaN
939  SI√äU UP-SIZE, CH·∫≤NG LO B·ª§NG ƒê√ìI\nƒêi ƒë√¢u m√† v·ªôi...    NaN        NaN

     haha  wow  bu·ªìn  ph·∫´n n·ªô  th∆∞∆°ng th∆∞∆°ng  shares  comments  reaction_count
0     2.0  2.0   NaN      NaN            NaN       6         0              46
1     NaN  1.0   3.0      NaN            9.0       9         3             268
2     2.0  1.0   NaN      NaN            NaN       0         0              15
3     NaN  NaN   NaN      NaN            1.0       2         1              57
4     NaN  2.0   1.0      NaN            1.0       4        20             493
..    ...  ...   ...      ...            ...     ...       ...             ...
935   NaN  NaN   NaN      NaN            NaN       0         0               0
936   NaN  NaN   NaN      NaN            NaN       0         0               0
937   NaN  NaN   NaN      NaN            NaN       0         0               0
938   NaN  NaN   NaN      NaN            NaN       0         0               0
939   NaN  NaN   NaN      NaN            NaN       0         0               0

[940 rows x 11 columns]

Thay th·∫ø gi√° tr·ªã NaN trong c√°c c·ªôt b·∫±ng gi√° tr·ªã 0

In [27]:
columns_to_replace = ['post_text', 'th√≠ch', 'y√™u th√≠ch', 'haha', 'wow', 'bu·ªìn', 'ph·∫´n n·ªô', 'th∆∞∆°ng th∆∞∆°ng', 'shares', 'comments', 'reaction_count']

In [28]:
for column in columns_to_replace:
    df_with_reactions[column].fillna(0, inplace=True)

result_df = df_with_reactions[['post_text', 'th√≠ch', 'y√™u th√≠ch', 'haha', 'wow', 'bu·ªìn', 'ph·∫´n n·ªô', 'th∆∞∆°ng th∆∞∆°ng', 'shares', 'comments', 'reaction_count']]
result_df

,post_text,th√≠ch,y√™u th√≠ch,haha,wow,bu·ªìn,ph·∫´n n·ªô,th∆∞∆°ng th∆∞∆°ng,shares,comments,reaction_count
0,NGHE ƒê·ªíN RIA M·ªû QU√ÅN ‚ÄúC√Ä H√ä‚Äù üëÄ\n\nüòú Ai ƒë·ªìn m√† ...,33.0,9.0,2.0,2.0,0.0,0.0,0.0,6,0,46
1,C·∫£m ∆°n BAEMIN v√¨ h√†nh tr√¨nh tuy·ªát v·ªùi v·ª´a qua ...,179.0,76.0,0.0,1.0,3.0,0.0,9.0,9,3,268
2,"S√°ng ch√≥i c√πng ""G√† M√™ M·∫≠t"" c·ªßa Lotteria üòçüòçüòç\n\...",11.0,1.0,2.0,1.0,0.0,0.0,0.0,0,0,15
3,üéâ CH√ÄO M·ª™NG S·ª∞ TR·ªû L·∫†I C·ª¶A LOTTERIA ƒê·ªíNG TH√ÅP ...,49.0,7.0,0.0,0.0,0.0,0.0,1.0,2,1,57
4,üî• SI√äU H·ªòI BLACK FRIDAY - ƒÇN G√Ä RIA NO ƒê·∫¶Y üî•\n...,472.0,17.0,0.0,2.0,1.0,0.0,1.0,4,20,493
...,...,...,...,...,...,...,...,...,...,...,...
935,"MƒÇM G√Ä M·ªåI N∆†I, FREESHIP T·∫¨N C·ª¨A\nO tr√≤n nh∆∞ q...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0
936,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0
937,"L·∫°i s·∫Øp h·∫øt tu·∫ßn r·ªìi, c√πng Lotteria n·∫°p mana g...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0
938,Ti·∫øt ki·ªám l√™n ƒë·∫øn 42% nhanh tay ch·ªët deal ngay...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0
939,"SI√äU UP-SIZE, CH·∫≤NG LO B·ª§NG ƒê√ìI\nƒêi ƒë√¢u m√† v·ªôi...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0

In [29]:
# chuy·ªÉn time sang d·∫°ng datetime
Clean_data_df['time'] = pd.to_datetime(Clean_data_df['time'])

In [30]:
Clean_data_df['month'] = Clean_data_df['time'].dt.month
Clean_data_df['day']= Clean_data_df['time'].dt.day
Clean_data_df['year']=Clean_data_df['time'].dt.year
Clean_data_df[['day','month','year']]

     day  month  year
0     28     11  2023
1     27     11  2023
2     27     11  2023
3     24     11  2023
4     24     11  2023
..   ...    ...   ...
935   25      2  2022
936   24      2  2022
937   24      2  2022
938   23      2  2022
939   22      2  2022

[940 rows x 3 columns]